<table class="table drafts-list">
        <tr>
          <td>
            <h5><a href="<%= user_path(notification.notificationable.user) %>" target="_blank"><%= notification.notificationable.user.name %></a>评论了你的列表：<a href="<%= list_path(notification.notificationable.feelingable) %>" target="_blank"><%= notification.notificationable.feelingable.title %></a></h5>
            <p><%= notification.notificationable.body %></p>
            <%= render partial: 'notifications/foot', locals: { notification: notification } %>
          </td>
        </tr>
      </table>