		<div class="col-xs-0 col-md-3 hidden-xs">
	  	<div class="row mb_30">
	  		<div class="col-md-12">
	  			<div class="actions white clearfix">
	  				<div class="row" id="user-mark">	  					
	  					<div class="col-md-6" id="user-avatar">
	  						<a href="<%= user_path(user) %>" target="_blank"><%= image_tag(user.avatar_url('60x60'), :width => 60, :height => 60, :class => 'img-circle pull-right') %></a>
	  					</div>
	  					<div class="col-md-6" id="user-name">
	  						<a href="<%= user_path(user) %>" target="_blank"><%= user.name %></a>
	  					</div>
	  				</div>
		  		</div>
	  			<div class="list-show-title white"><%= list.title %></div>
		  		<div class="others white clearfix list-show-count">
		  			<%= likeable_tag(list, { link_class: 'list-show-fancy' }) %>
  					<a href="#write_feeling">
  						<i class="fa fa-comments-o"></i>
  						<span><%= list.feelings.count %></span>
  					</a>
  					<a href="#" data-toggle="modal" data-target="#share_form">
  						<i class="fa fa-share-alt"></i>
  					</a>
		  		</div>
		  		<div class="list-show-linkall white">
		  			<a href="<%= lists_user_path(user) %>"><i class="fa fa-angle-left"></i>查看该用户的所有列表</a>
		  		</div> 
	  		</div>		
	  	</div>	  	
	  </div>