<table class="table drafts-list">
        <tr>
          <td>
            <h5><a href="<%= user_path(notification.notificationable.user) %>" target="_blank"><%= notification.notificationable.user.name %></a>赞了你的评论：<%= notification.notificationable.voteable.body %></h5>
            <footer>
              <time><%= notification.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></time>
              <span class="separator">|</span>
              <%= link_to "删除", notification_path(notification), :method => :delete, :remote => true, 'data-del-link' => true %>
            </footer>
          </td>
        </tr>
      </table>