		<div class="col-xs-0 col-md-4 hidden-xs">
	  	<div class="row mb_30">
	  		<div class="col-md-12">
	  			<% if thing.buy_url? %>
	  			<div class="shop white">
	  				<% if thing.price? %>
		  			<div class="price">
		  				<%= thing.price %>
		  			</div>
		  			<% end %>
	  				<a class="btn btn-default" href="<%= thing_buys_path(thing) %>" data-method="post" target="_blank"><i class="fa fa-location-arrow fa-lg"></i>网购</a>
	  			</div>
	  			<% end %>
	  			<ul class="actions white clearfix">
		  			<li class="fanciers">
		  				<% if current_user && thing.fanciers.where('user_id = ?', current_user.id).exists? %>
		  				<a href="<%= thing_fanciers_path(thing) %>" data-method="post" data-remote="true" id="new_fancier" data-like="喜欢该商品" data-unlike="取消喜欢该商品" title="取消喜欢该商品">			  				
		  					<i class="fa fa-heart"></i>		  				
		  					<span class="fanciers_count"><%= thing.fancier_count %></span><small>喜欢</small>
		  				</a>		  				
		  				<% else %>
		  					<% if current_user %>
		  				<a href="<%= thing_fanciers_path(thing) %>" data-method="post" data-remote="true" id="new_fancier" data-like="喜欢该商品" data-unlike="取消喜欢该商品" title="喜欢该商品">			  	
		  					<i class="fa fa-heart-o"></i>		 
		  					<span class="fanciers_count"><%= thing.fancier_count %></span><small>喜欢</small> 				
		  				</a>	
		  					<% else %>
		  				<a href="/sessions/new" id="new_fancier" data-like="喜欢该商品" data-unlike="取消喜欢该商品" title="喜欢该商品">			  	
		  					<i class="fa fa-heart-o"></i>		 
		  					<span class="fanciers_count"><%= thing.fancier_count %></span><small>喜欢</small> 				
		  				</a>	
		  					<% end %>
		  				<% end %>
		  			</li>
		  			<li class="owners">		  	
		  				<% if current_user && thing.owners.where('user_id = ?', current_user.id).exists? %>			
		  				<a href="<%= thing_owners_path(thing) %>" data-method="post" data-remote="true" id="new_owner" data-like="拥有该商品" data-unlike="取消拥有该商品" title="取消拥有该商品">		  					
		  					<i class="fa fa-check-circle-o"></i>		  					
		  					<span class="fanciers_count"><%= thing.owner_count %></span><small>拥有</small>
		  				</a>	
		  				<% else %>	
		  					<% if current_user %> 
		  				<a href="<%= thing_owners_path(thing) %>" data-method="post" data-remote="true" id="new_owner" data-like="拥有该商品" data-unlike="取消拥有该商品" title="拥有该商品">		
		  					<i class="fa fa-circle-o"></i>
		  					<span class="fanciers_count"><%= thing.owner_count %></span><small>拥有</small>
		  				</a>
		  					<% else %>
		  				<a href="/sessions/new" id="new_owner" data-like="拥有该商品" data-unlike="取消拥有该商品" title="拥有该商品">		
		  					<i class="fa fa-circle-o"></i>
		  					<span class="fanciers_count"><%= thing.owner_count %></span><small>拥有</small>
		  				</a>
		  					<% end %>
		  				<% end %> 				
		  			</li>
		  			<li class="write_feeling">
		  				<a href="#write_feeling">
		  					<i class="fa fa-comments-o"></i>
		  					说点什么
		  				</a>
		  			</li>
		  			<li class="add_to_list">
		  				<% if current_user %>
		  				<a href="#" data-toggle="modal" data-target="#add-to-list-modal">
		  					<i class="fa fa-list-ul"></i>
		  					加入列表
		  				</a>
		  				<% else %>
		  				<a href="<%= new_session_path %>">
		  					<i class="fa fa-list-ul"></i>
		  					加入列表
		  				</a>
		  				<% end %>
		  			</li>
		  		</ul>
		  		<div class="others white clearfix" style="display:none">
		  			<ul class="tags clearfix">
		  				<li>
		  					<a href="#">
		  						<i class="glyphicon glyphicon-tag"></i>
		  						数码
		  					</a>
		  				</li>
		  				<li>
		  					<a href="#">
		  						<i class="glyphicon glyphicon-tag"></i>
		  						手机
		  					</a>
		  				</li>
		  			</ul>
		  		</div>
	  		</div>	  		
	  	</div>	  	
	  </div>

<% if current_user %>
<div class="modal fade" id="add-to-list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-list-ul" style="margin-right:5px"></i>添加到收藏列表 “ <%= thing.title %> ”</h4>
      </div>
      <form action="<%=things_to_list_path %>" id="thing-to-list" method="post" data-remote="true">
      	<input type="hidden" name="thing_id" value="<%= thing.id %>" />
	      <div class="modal-body" style="padding:30px;">
	      	<center>
		        <div class="row">
		        	<div class="col-md-6">
		        		<%= image_tag(thing.photos.first.avatar_url('800x800'), :class => 'img-responsive') if thing.photos.first %>
		        	</div>
	        		<div class="col-md-6">	        			
		        		<div class="col-md-12 input-group">
						      <input type="text" class="form-control" id="list_name" placeholder="添加一个列表">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" onclick="return Things.add_list();">添加</button>
						      </span>
						    </div>
						    <div class="col-md-12 btn-group thing-list" data-toggle="buttons">
		        			<% current_user.lists.each do |list| %>
								  <label class="btn btn-primary <%= list.has_thing?(thing) ? 'active' : '' %>">
								    <input type="checkbox" name="list" autocomplete="off" <%= list.has_thing?(thing) ? "checked" : "" %> value="<%= list.title %>"> <%= "#{list.title}(#{list.things.count})" %>
								  </label><br>
								  <% end %>
								</div>
							</div>
		        </div>
		        <div class="row add-to-list-btn">
		        	<button class="btn btn-primary pull-right" type="submit">完成</button>
		        </div>
		      </center>
	      </div>
	    </form>
    </div>
  </div>
</div>
<% end %>