			<div class="thing_title">
		  	<h1><a href="<%= thing_path(thing) %>"><%= thing.title %></a></h1>
		  	<h2><%= thing.subtitle %></h2>
		  </div>
		  <nav id="thing_top_nav" class="hidden-xs">
		  	<ul class="nav nav-justified">
		  		<li class="<%= params[:controller] == "things" && params[:action] == "show" ? 'active' : '' %>"><a href="<%= thing_path(thing) %>">产品</a></li>
		  		<li class="<%= params[:controller] == "reviews" && params[:action] == "index" ? 'active' : '' %>"><a href="<%= thing_reviews_path(thing) %>">评测</a></li>
		  		<li class="<%= params[:controller] == "feelings" && params[:action] == "index" ? 'active' : '' %>"><a href="<%= thing_feelings_path(thing) %>">短评</a></li>
		  		<li class="<%= params[:controller] == "activities" && params[:action] == "index" ? 'active' : '' %>"><a href="#">动态</a></li>
		  	</ul>
		  </nav>