<div class="top_container container">
	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	  	<%= render 'things/top', thing: @thing %>
			<%= render 'feelings/new', thing: @thing, feeling: @feeling %>
			<nav id="thing-feeds-tab">
				<ul class="nav nav-pills nav-justified nav-layout thing_tab">
					<li>
						<a><i class="fa fa-comments"></i>短评</a>
					</li>
				</ul>
			</nav>
			<% if @feelings.exists? %>
				<div id="feeling_list" class="feeling_list">
					<%= render @feelings %>
				</div>
			<% else %>			
				<div id="feeling_list" class="feeling_list">
				</div>
				<%= render 'feelings/empty_feeling' %>
			<% end %>
			<div class="thing_feelings_action">
				<%= paginate @feelings %>
			</div>
	  </div>
	  <%= render 'things/right', thing: @thing %>
	</div>
</div>