<div class="top_container container">
	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	  	<%= render 'top', thing: @thing %>
		  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	<% @thing.photos.each_with_index do |photo, i| %>
			    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%= i == 0 ? 'active' : '' %>"></li>
			    <% end %>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox" style="width:100%;height:528px;">
			  	<% @thing.photos.each_with_index do |photo, i| %>
			    <div class="item <%= i == 0 ? 'active' : '' %>" style="width:100%;height:528px;line-height:528px;">
			      <center><%= image_tag(photo.avatar_url('800x800')) %></center>
			    </div>
			    <% end %>			    
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			    <span class="sr-only">上一张</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			    <span class="sr-only">下一张</span>
			  </a>
			</div>
			<div id="thing_description">
				<article class="article">
					<div id="thing_author">						
						<span class="author_name">
							<a href="<%= user_path(@thing.user) %>"><%= image_tag(@thing.user_avatar.url('60x60'), :width => 40, :height => 40, :class => 'img-circle') %></a>
							<label>分享者</label><a href="<%= user_path(@thing.user) %>"><%= @thing.user_name %>
						</span>
						<% if current_user && (current_user.id == @thing.user_id) %>
						<% if !@thing.publish %>
						<a class="btn btn-square btn-info btn-flag pull-right" data-confirm="确定要删除吗" data-method="delete" href="/things/<%= @thing.id %>" rel="nofollow"><i class="glyphicon glyphicon-remove"></i>删除</a>
						<% end %>
						<a class="btn btn-square btn-info btn-flag pull-right" href="/things/<%= @thing.id %>/edit"><i class="glyphicon glyphicon-edit"></i>编辑</a>
						<% end %>
						<a class="btn btn-square btn-warning btn-blue pull-right" data-toggle="modal" data-target="#share_form"><i class="fa fa-share-alt"></i>分享</a>
						<a class="btn btn-square btn-info btn-flag pull-right" style="display:none"><i class="glyphicon glyphicon-flag"></i>举报</a>
					</div>
					<div class="post_content">
						<p><%= @thing.subtitle %></p>
						<hr>
						<%= raw @thing.body %>
						<footer>
							<% if !@thing.official_site.empty? %>
							<a href="<%= @thing.official_site %>" target="_blank"><i class="glyphicon glyphicon-globe"></i>来源网站</a>
							<% end %>
						</footer>
					</div>
				</article>
			</div>
			<% if !@thing.reviews.where('publish = ?', true).exists? %>
			<%= render 'reviews/empty', thing: @thing %>
			<% else %>
				<nav id="thing-feeds-tab">
					<ul class="nav nav-pills nav-justified nav-layout thing_tab">
						<li>
							<a id="review_title">用户评测</a><a id="write_review" href="<%= new_thing_review_path(@thing) %>" target="_blank">写评测</a>
						</li>
					</ul>
				</nav>
				<div class="feeling_list">
				<%= render @thing.reviews.where('publish = ?', true).order(id: :desc).take(3) %>
				</div>
			<% end %>
			<div class="clearfix thing_reviews_action">
				<% if @thing.feelings.count > 3 %>
				<a class="btn btn-square btn-primary btn-blue pull-right" href="<%= thing_reviews_path(@thing) %>">更多评测</a>
				<% end %>
			</div>
			<%= render 'feelings/new', thing: @thing, feeling: @feeling %>
			<nav id="thing-feeds-tab">
				<ul class="nav nav-pills nav-justified nav-layout thing_tab">
					<li>
						<a><i class="fa fa-comments"></i>短评</a>
					</li>
				</ul>
			</nav>
			<% if @thing.feelings.exists? %>
				<div id="feeling_list" class="feeling_list">
					<%= render @thing.feelings.order(id: :desc).take(5) %>
				</div>				
			<% else %>
				<div id="feeling_list" class="feeling_list">
				</div>
				<%= render 'feelings/empty_feeling' %>
			<% end %>
			<div class="clearfix thing_feelings_action">
				<% if @thing.feelings.count > 5 %>
				<a class="btn btn-square btn-primary btn-blue pull-right" href="<%= thing_feelings_path(@thing) %>">更多短评</a>
				<% end %>
			</div>
	  </div>
	  <%= render 'right', thing: @thing %>
	</div>
</div>