<div class="top_container container">
	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	  	<div class="thing_title">
		  	<h1><%= @thing.title %></h1>
		  	<h2><%= @thing.subtitle %></h2>
		  </div>
		  <nav id="thing_top_nav" class="hidden-xs">
		  	<ul class="nav nav-justified">
		  		<li class="active"><a href="#">产品</a></li>
		  		<li><a href="#">评测</a></li>
		  		<li><a href="#">短评</a></li>
		  		<li><a href="#">动态</a></li>
		  	</ul>
		  </nav>
		  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	<% @thing.photos.each_with_index do |photo, i| %>
			    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%= i == 0 ? 'active' : '' %>"></li>
			    <% end %>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox" style="width:100%;height:528px;">
			  	<% @thing.photos.each_with_index do |photo, i| %>
			    <div class="item <%= i == 0 ? 'active' : '' %>" style="width:100%;height:528px;line-height:528px;">
			      <center><%= image_tag(photo.avatar_url('800x800')) %></center>
			    </div>
			    <% end %>			    
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			    <span class="sr-only">上一张</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			    <span class="sr-only">下一张</span>
			  </a>
			</div>
			<div id="thing_description">
				<article class="article">
					<div id="thing_author">						
						<span class="author_name">
							<a href="#"><%= image_tag(@thing.user.avatar_url('60x60'), :width => 40, :height => 40, :class => 'img-circle') if @thing.user %></a>
							<label>分享者</label><a href="#"><%= @thing.user.name if @thing.user %>
						</span>
						<% if current_user && (current_user.id == @thing.user_id) %>
						<a class="btn btn-info btn-flag pull-right" data-confirm="确定要删除吗" data-method="delete" href="/things/<%= @thing.id %>" rel="nofollow"><i class="glyphicon glyphicon-remove"></i>删除</a>
						<a class="btn btn-info btn-flag pull-right" href="/things/<%= @thing.id %>/edit"><i class="glyphicon glyphicon-edit"></i>编辑</a>
						<% end %>
						<a class="btn btn-warning btn-share pull-right"><i class="glyphicon glyphicon-share"></i>分享</a>
						<a class="btn btn-info btn-flag pull-right"><i class="glyphicon glyphicon-flag"></i>举报</a>
					</div>
					<div class="post_content">
						<p><%= @thing.subtitle %></p>
						<hr>
						<%= raw @thing.body %>
						<footer>
							<% if !@thing.official_site.empty? %>
							<a href="<%= @thing.official_site %>" target="_blank"><i class="glyphicon glyphicon-globe"></i>来源网站</a>
							<% end %>
						</footer>
					</div>
				</article>
			</div>
			<div id="thing_reviews">
				<div class="no_reviews jumbotron white">
					<p>还没有人为 <%= @thing.title %> 撰写评测，你想做第一个为它写评测的人么？</p>
					<ul class="list-inline">
						<li><a href="#" class="btn btn_info"><i class="glyphicon glyphicon-pencil"></i><span>写评测</span></a></li>
					</ul>
				</div>
			</div>
			<div class="row" id="thing_feeling_form">
				<div class="col-md-2 hidden-xs">
					<center>
						<%= image_tag(@thing.user.avatar_url('150x150'), :class => 'img-circle') if @thing.user %>
						<p><a href="#"><%= @thing.user.name if @thing.user %></a></p>
					</center>
				</div>
				<a name="write_feeling"></a>
				<div class="col-md-10" id="feeling_form">
					<%= form_for @feeling, :url => thing_feelings_path(@thing), :html => { :role => "form" }, :remote => true do |f| %>
  					<div class="form-group">
							<center><%= f.text_area :body, :class => 'form-control', :placeholder => "说点什么吧（140字以内哦）" %></center>
						</div>
						<button type="submit" class="btn btn-info pull-right">发布</button>
					<% end %>
				</div>
			</div>
			<nav id="thing-feeds-tab">
				<ul class="nav nav-pills nav-justified nav-layout nav--thing_tab">
					<li class="active">
						<a><i class="fa fa-comments"></i>短评</a>
					</li>
				</ul>
			</nav>
			<% @thing.feelings.order(id: :desc).each do |feeling| %>
			<div class="row feed_item">
				<div class="col-md-2 hidden-xs">
					<center>
						<%= image_tag(feeling.user.avatar_url('150x150'), :class => 'img-circle') if feeling.user %>
						<p><a href="#"><%= feeling.user.name if feeling.user %></a></p>
					</center>
				</div>
				<div class="col-md-9 feed_body">
					<%= feeling.body %>
				</div>
				<div class="col-md-1 feed-like">
					<a href="#"><i class="fa fa-thumbs-up fa-fw"></i><%= feeling.up %></a>
				</div>
			</div>
			<% end %>
			<div class="row feed_item">
				<div class="col-md-2 hidden-xs">
					<center>
						<%= image_tag(@thing.user.avatar_url('150x150'), :class => 'img-circle') if @thing.user %>
						<p><a href="#"><%= @thing.user.name if @thing.user %></a></p>
					</center>
				</div>
				<div class="col-md-9 feed_body">
					这是个1600万色的LED灯泡，使用寿命漫长的,一般都在5万小时以上，你就算不关灯也能工作五六年，应该没必要换灯泡。另外色温也是可以调节的。
				</div>
				<div class="col-md-1 feed-like">
					<a href="#"><i class="fa fa-thumbs-up fa-fw"></i>0</a>
				</div>
			</div>
			<div class="tab-pane active" id="tab_feelings">
				<div class="nothing">
					<i class="fa fa-meh-o"></i><br>
					什么都没有
				</div>
			</div>
	  </div>
	  <div class="col-xs-0 col-md-4 hidden-xs">
	  	<div class="row mb_30">
	  		<div class="col-md-12">
	  			<div class="shop white">
		  			<div class="price">
		  				¥830
		  			</div>
	  				<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-send"></i>网购</button>
	  			</div>
	  			<ul class="actions white clearfix">
		  			<li class="fanciers">
		  				<a href="#">
		  					<i class="glyphicon glyphicon-heart-empty"></i>
		  					<span class="fanciers_count">0</span><small>喜欢</small>
		  				</a>
		  			</li>
		  			<li class="owners">
		  				<a href="#">
		  					<i class="glyphicon glyphicon-ok-circle"></i>
		  					<span class="fanciers_count">0</span><small>拥有</small>
		  				</a>
		  			</li>
		  			<li class="write_feeling">
		  				<a href="#write_feeling">
		  					<i class="glyphicon glyphicon-pencil"></i>
		  					说点什么
		  				</a>
		  			</li>
		  			<li class="add_to_list">
		  				<a href="#">
		  					<i class="glyphicon glyphicon-th-list"></i>
		  					加入列表
		  				</a>
		  			</li>
		  		</ul>
		  		<div class="others white clearfix">
		  			<ul class="tags clearfix">
		  				<li>
		  					<a href="#">
		  						<i class="glyphicon glyphicon-tag"></i>
		  						数码
		  					</a>
		  				</li>
		  				<li>
		  					<a href="#">
		  						<i class="glyphicon glyphicon-tag"></i>
		  						手机
		  					</a>
		  				</li>
		  			</ul>
		  		</div>
	  		</div>	  		
	  	</div>	  	
	  </div>
	</div>
</div>