<% if activity.trackable && activity.trackable.feelingable && activity.trackable.feelingable_type == 'Thing' %>
<li class="row user-review feeling-review">
	<div class="activity-title white">
		<i class="fa fa-comment"></i>写了短评<a href="<%= feelings_thing_path(activity.trackable.feelingable) %>" target="_blank"><time class="pull-right" datetime="<%= activity.created_at %>"><%= distance_of_time_in_words_to_now(activity.created_at) %>前</time></a>
	</div>
  <p><a href="<%= feelings_thing_path(activity.trackable.feelingable) %>" target="_blank"><i class="fa fa-quote-left"></i><%= activity.trackable.body %><i class="fa fa-quote-right"></i></a></p>
  <div class="fancy-list-count">
  	<i class="fa fa-thumbs-o-up"></i><span><%= activity.trackable.votes.count %></span>
 	</div>
 	<div class="user-feeling-thing row">
 		<div class="col-md-4 feeling-thing-img">
 			<a href="<%= thing_path(activity.trackable.feelingable) %>" class="feeling-img" target="_blank"><%= image_tag(activity.trackable.feelingable.photos.first.avatar_url('800x800')) if activity.trackable.feelingable.photos.first %></a>
 		</div>
 		<div class="col-md-8 feeling-thing-title">
 			<h6><a href="<%= thing_path(activity.trackable.feelingable) %>" target="_blank"><%= activity.trackable.feelingable.title.truncate(15, :separator => ' ') %></a></h6>
 			<div class="feeling-thing-count"> 				
		  	<a href="<%= thing_path(activity.trackable.feelingable) %>" target="_blank"><i class="fa fa-heart-o"></i><%= activity.trackable.feelingable.likes.count %></a>
		  	<% if activity.trackable.feelingable.owns.count > 0 %>
		  	<a href="<%= thing_path(activity.trackable.feelingable) %>" target="_blank"><i class="fa fa-check-circle-o"></i><%= activity.trackable.feelingable.owns.count %></a>
		  	<% end %>
		  	<% if activity.trackable.feelingable.reviews.count > 0 %>
		  	<a href="<%= thing_reviews_path(activity.trackable.feelingable) %>" target="_blank"><i class="fa fa-pencil"></i><%= activity.trackable.feelingable.reviews.count %></a>
		  	<% end %>
 			</div>
 		</div>
 	</div>
</li>
<% end %>