<li class="row">
	<center><a href="<%= thing_path(owner.thing) %>" class="fancy-img" target="_blank"><%= image_tag(owner.thing.photos.first.avatar_url('800x800'), :class => 'img-responsive') if owner.thing.photos.first %></a></center>
  <div><a class="fancy-thing-title" href="<%= thing_path(owner.thing) %>" target="_blank"><%= owner.thing.title %></a></div>
  <div class="fancy-list-count">
  	<a href="<%= thing_path(owner.thing) %>" target="_blank"><i class="fa fa-heart-o"></i><%= owner.thing.fanciers.count %></a>
  	<% if owner.thing.owners.count > 0 %>
  	<a href="<%= thing_path(owner.thing) %>" target="_blank"><i class="fa fa-check-circle-o"></i><%= owner.thing.owners.count %></a>
  	<% end %>
  	<% if owner.thing.reviews.count > 0 %>
  	<a href="<%= thing_reviews_path(owner.thing) %>" target="_blank"><i class="fa fa-pencil"></i><%= owner.thing.reviews.count %></a>
  	<% end %>
 	</div>
</li>