<% if own.thing %>
<li class="row">
	<center><a href="<%= thing_path(own.thing) %>" class="fancy-img" target="_blank"><%= image_tag(own.thing.photos.first.avatar_url('800x800'), :class => 'img-responsive') if own.thing.photos.first %></a></center>
  <div><a class="fancy-thing-title" href="<%= thing_path(own.thing) %>" target="_blank"><%= own.thing.title %></a></div>
  <div class="fancy-list-count">
  	<a href="<%= thing_path(own.thing) %>" target="_blank"><i class="fa fa-heart-o"></i><%= own.thing.likes.count %></a>
  	<% if own.thing.owns.count > 0 %>
  	<a href="<%= thing_path(own.thing) %>" target="_blank"><i class="fa fa-check-circle-o"></i><%= own.thing.owns.count %></a>
  	<% end %>
  	<% if own.thing.reviews.count > 0 %>
  	<a href="<%= thing_reviews_path(own.thing) %>" target="_blank"><i class="fa fa-pencil"></i><%= own.thing.reviews.count %></a>
  	<% end %>
 	</div>
</li>
<% end %>