		  <nav id="user_top_nav" class="hidden-xs">
		  	<ul class="nav nav-justified">
		  		<li class="<%= params[:action] == "show" ? 'active' : '' %>"><a href="<%= user_path(user) %>"><i class="fa fa-home"></i>主页</a></li>
		  		<li class="<%= params[:action] == "fancies" ? 'active' : '' %>"><a href="<%= fancies_user_path(user) %>"><i class="fa fa-heart"></i>喜欢<span></span></a></li>
		  		<li class="<%= params[:action] == "owns" ? 'active' : '' %>"><a href="<%= owns_user_path(user) %>"><i class="fa fa-check-circle-o"></i>拥有<span></span></a></li>
		  		<li class="<%= params[:action] == "things" ? 'active' : '' %>"><a href="<%= things_user_path(user) %>"><i class="fa fa-magic"></i>分享<span></span></a></li>
		  		<li class="<%= params[:action] == "lists" ? 'active' : '' %>"><a href="<%= lists_user_path(user) %>"><i class="fa fa-list-ko"></i>列表<span></span></a></li>
		  		<li class="<%= params[:action] == "reviews" ? 'active' : '' %>"><a href=""><i class="fa fa-pencil"></i>评测<span></span></a></li>
		  		<li class="<%= params[:action] == "feelings" ? 'active' : '' %>"><a href=""><i class="fa fa-comments"></i>短评<span></span></a></li>
		  	</ul>
		  </nav>