<div class="top_container container">
  <div class="row">
    <div class="col-xs-12 col-md-9 white">
      <div class="page-header">
        <h3><i class="fa fa-user"></i>个人信息</h3>
      </div>
      <% if flash[:notice] %>
        <div class="alert alert-warning" role="alert">         
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= form_for @user, :url => settings_profile_path, :html => { :class => "form-horizontal", :role => "form" } do |f| %>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label"><span style="color:red;margin-right:5px;">*</span>姓名</label>
        <div class="col-sm-6">
          <%= f.text_field :name, :class => "form-control", :maxlength => 20 %>
        </div>
      </div>
      <div class="form-group">
        <label for="avatar" class="col-sm-2 control-label">头像</label>
        <div class="col-sm-6">
          <%= image_tag(@user.avatar_url('800x800'), :width => 80, :height => 80, :class => "img-circle img-responsive") %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= f.file_field :avatar, :class => "form-control" %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">性别</label>
        <div class="col-sm-6">
          <% ['男', '女'].each do |gender| %>
          <div class="radio">
            <label>
              <%= f.radio_button :gender, gender %><%= gender %>
            </label>
          </div>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-sm-2 control-label">地区</label>
        <div class="col-sm-6">
          <%= f.text_field :location, :class => "form-control", :maxlength => 20 %>
        </div>
      </div>
      <div class="form-group">
        <label for="site" class="col-sm-2 control-label">个人网站</label>
        <div class="col-sm-6">
          <%= f.text_field :site, :class => "form-control", :maxlength => 20 %>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">自我描述</label>
        <div class="col-sm-6">
          <%= f.text_area :description, :class => "form-control", :rows => 5 %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-xs-0 col-md-3 hidden-xs setting-menu">
      <%= render 'right' %>
    </div>
  </div>
</div>