<% if activity.trackable %>
<li class="row">
	<div class="activity-title white">
  		<i class="fa fa-plus"></i>创建了列表<a href="<%= list_path(activity.trackable) %>" target="_blank"><time class="pull-right" datetime="<%= activity.created_at %>"><%= distance_of_time_in_words_to_now(activity.created_at) %>前</time></a>
  	</div>
	<center><a href="<%= list_path(activity.trackable) %>" class="fancy-img" target="_blank"><%= image_tag(activity.trackable.things.first.photos.first.avatar_url('800x800'), :class => 'img-responsive') if activity.trackable.things.first.photos.first %></a></center>
  <div><a class="fancy-thing-title" href="<%= list_path(activity.trackable) %>" target="_blank"><%= activity.trackable.title %><small>(<%= activity.trackable.things.count %>)</small></a></div>
  <div class="fancy-list-count">
  	<a href="<%= list_path(activity.trackable) %>" target="_blank"><i class="fa fa-heart-o"></i><%= activity.trackable.lfanciers.count %></a>
  	<% if activity.trackable.lfeelings.count > 0 %>
  	<a href="<%= list_path(activity.trackable) %>" target="_blank"><i class="fa fa-comment-o"></i><%= activity.trackable.lfeelings.count %></a>
  	<% end %>
 	</div>
</li>
<% end %>