<div class="top_container container">
	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	  	<%= render 'things/top', thing: @thing %>
	  	<section class="things_subpage">
	  		<article class="single_review">
	  			<div class="review_header">
	  				<header class="row">
		  				<div class="col-md-3 hidden-xs author_img">
								<center>
									<a href="<%= user_path(@review.user) %>"><%= image_tag(@review.user_avatar.url('150x150'), :class => 'img-circle') %></a>
								</center>
							</div>
							<div class="col-md-9">
								<h3><%= @review.title %></h3>
								<p><a href="<%= user_path(@review.user) %>"><%= @review.user_name %></a></p>
							</div>
	  				</header>
					</div>
  				<section class="post_content">
  					<header class="row">
  						<%= follower_btn_tag(@review.user) %>
  						<a class="btn btn-primary" data-toggle="modal" data-target="#share_form"><i class="fa fa-share-alt"></i>分享评测</a>
  					</header>
  					<%= sanitize @review.body %>
  				</section>
  				<div class="review_footer">
  					<footer class="row">
  						<%= voteable_tag(@review, { link_class: 'btn btn-like', active_class: 'like-active' }) %>
  						<a class="btn btn-share" data-toggle="modal" data-target="#share_form"><i class="fa fa-share-alt"></i>分享</a>
  						<time class="pull-right" datetime="<%= @review.created_at %>"><%= distance_of_time_in_words_to_now(@review.created_at) %>前</time>
  					</footer>
  				</div>
  				<%= render 'feelings/new', feeling: @feeling %>
  				<% if @feelings.exists? %>
						<div id="feeling_list" class="feeling_list">
							<%= render @feelings %>
						</div>				
					<% else %>
						<div id="feeling_list" class="feeling_list">
						</div>
						<%= render 'feelings/empty_feeling' %>
					<% end %>
					<div class="thing_feelings_action">
						<%= paginate @feelings %>
					</div>
	  		</article>
	  	</section>
	  </div>
	  <%= render 'things/right', thing: @thing %>
	</div>
</div>